@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --primary-100: rgba(209, 129, 79, 1.0);
  --primary-75: rgba(209, 129, 79, .75);
  --primary-50: rgba(209, 129, 79, .50);
  --primary-25: rgba(209, 129, 79, .25);
}

.custom-btn:hover {
  outline: 2px solid rgba(209, 129, 79, 1.0);
  background-color: rgba(209, 129, 79, 1.0);;
  color: #fff;
}

.product__image {
    width: 60%;
    align-self: center;
}

.navbar {
  box-shadow: 0px 6px 4px -8px rgba(128, 0, 0, 1);
}

.navbar .active {
  color: var(--primary-100);
}

#navbarNav ul li a {
  font-size: .9em;
  margin-right: 20px;
}

.navbar-brand {
  font-weight: 900;
  color: var(--primary-100) !important;
}

.signup__btn {
  border-left:3px solid rgba(191, 181, 181, .5);
  margin-left: -5px;
}

.login__navbtn {
  margin-right: -15px;
}

#item__number {
  background-color: red;
  color: white;
  border-radius: 100%;
  padding: 2px 5px;
  font-size: 12px;
  position: relative;
  top: -8px;
  left: -3px;
  padding: 0 4px;
}
